// app global css in SCSS form
.basement {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.left-side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $siderBg;
}

.verticle-container {
  display: flex;
  flex-direction: column;
}

.parallel-container {
  display: flex;
  flex-direction: row;
}

.item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  background: #29333a;
  &:hover {
    background: linear-gradient(to right, #6EE7B7, #6EE7B7 4px, #6B7280 4px, #6B7280);
  }
}



.icon {
  font-size: 1.5rem;
  margin-right: 15px;
}

