// app global css in SCSS form
body {
  background: #d9e0e7;
}

.basement {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.left-side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $siderBg;
}

.verticle-container {
  display: flex;
  flex-direction: column;
}

.parallel-container {
  display: flex;
  flex-direction: row;
}

.item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  background: #29333a;
  &:hover {
    background: linear-gradient(
      to right,
      #6ee7b7,
      #6ee7b7 4px,
      #6b7280 4px,
      #6b7280
    );
  }
}

.page-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 15px;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.echarts-card {
  width: 48%;
  height: 45%;
  box-sizing: border-box;
  padding: 30px;
  background: #29333a;
  margin-bottom: 30px;
}

.header-statistic {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 2rem;
  color: #333;
  line-height: 1.61803;
  height: 80px;
  width: 100%;
}

.echarts-container {
  width: 100%;
  height: 100%;
}

.icon {
  font-size: 1.5rem;
  margin-right: 15px;
}
