name: Build Estate
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install 1
        run: npm install -g yarn
      - name: Install 2
        run: yarn global add @quasar/cli
      - name: Build
        run: yarn run build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        env:
          BASE_BRANCH: master
          BRANCH: build
          FOLDER: dist/spa
